.MuiInputBase-root.from-input-readonly,
.MuiInputBase-root.from-input-readonly::before,
.MuiInputBase-root.from-input-readonly::after {
  border-color: transparent !important;
}

.MuiInputBase-root.from-input-readonly .MuiInput-input {
  background-color: transparent !important;
  box-shadow: none !important;
}
